{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carent – Car Rental Business &amp; Auto Dealer Elementor Template Kit Preview - ThemeForest</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/title_logo.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.2/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.2/uicons-solid-straight/css/uicons-solid-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.2/uicons-thin-straight/css/uicons-thin-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-bold-rounded/css/uicons-bold-rounded.css'>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab:300'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/flickity/2.0.5/flickity.min.css'>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel = "stylesheet" type="text/css" href = "{% static 'CSS/owl.carousel.min.css' %}">
    <link rel = "stylesheet" type="text/css" href = "{% static 'CSS/owl.theme.default.min.css' %}"> 
    <link rel="stylesheet" href="{% static 'CSS/styleapp.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/Single_Post.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/Our_Team.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/About.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/navbar_close.css' %}">
</head>
<body>
    <div class="site-wrapper">
        <header class="header">
            <div class="main-navbar">
              <div class="container-fluid">
                <div class="logo main-navbar-item">
                  <img class="" src="{% static 'images/main-navbar-logo.png' %}" alt="">
                </div><!-- /.logo -->
                <div class="nav-links main-navbar-item">
                  <nav class="top-navbar">
                    <input type="checkbox" id="nav-check">
                    <label for="nav-check" class="nav-chlab">☰</label>
                    <div class="navbar-links" id="navbar">
                        <img class="" src="{% static 'images/main-navbar-logo.png' %}" alt="">
                      <a class="left-padding" href="/">HOME</a>
                      <a href="{% url 'about' %}">ABOUT</a> 
                      <a href="{% url 'our_cars' %}">OUR CARS</a> 
                      <a class="nav-link dropdown-toggle dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        FEATURES
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'our_team' %}">OUR TEAM</a></li>
                        <li><a class="dropdown-item" href="{% url 'faq' %}">FAQ</a></li>
                      </ul>
                      <a class="" href="{% url 'blog' %}">BLOG</a>
                      <a class="right-padding" href="{% url 'contactPage' %}">CONTACT</a>
                      <!--Login and Username for Mobile  -Start-->
                      {% if user.is_authenticated %}
                      <div class="Username Username-button-Mobile-Screen" style="display: none;">
                        <div class="dropdown Logout-button">
                          <a class="btn dropdown-toggle Logout-button-title" style="text-transform: capitalize;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Hi, {{user.username}}
                          </a>             
                          <ul class="dropdown-menu logout-dropdown">
                            <li><a class="dropdown-item" href="{% url 'logout-user' %}">Logout<span><i class="fi fi-rs-exit"></i></span></a></li>
                          </ul>
                        </div>
                      </div><!-- /.Username -->
                      {% else %}
                      <div class="Login-button Login-Button-Mobile-Screen" style="display: none;">
                        <a href="{% url 'login' %}"><span>LOGIN</span></a>    
                      </div>
                      {% endif %}
                       <!--Login and Username for Mobile  -End-->
                    </div>
                  </nav>
                </div><!-- /.nav-links -->
                <div class="side-navigation main-navbar-item">
                  <div class="Login-button-and-side-navigation">
                    <!--Login and Username for Desktop  -Start-->
                    {% if user.is_authenticated %}
                    <div class="Username">
                      <div class="dropdown Logout-button">
                        <a class="btn dropdown-toggle Logout-button-title" style="text-transform: capitalize;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Hi, {{user.username}}
                        </a>             
                        <ul class="dropdown-menu logout-dropdown">
                          <li><a class="dropdown-item" href="{% url 'logout-user' %}">Logout<span><i class="fi fi-rs-exit"></i></span></a></li>
                        </ul>
                      </div>
                    </div><!-- /.Username -->
                    {% else %}  
                    <div class="Login-button">
                      <a href="{% url 'login' %}"><i class="fi fi-ss-user"></i><span>LOGIN</span></a> 
                    </div>
                    {% endif %} 
                    <!--Login and Username for Desktop  -End-->
                    <div class="menu-button" onclick="menuAnimation(this)">
                      <div class="bar1"></div>
                      <div class="bar2"></div>
                      <div class="bar3"></div>
                    </div>
                    <div class="sidebar" id="slideNav">
                      <div class="nav-section" id="sideBarText">
                        <div class="item"><img src="{% static 'images/side-navigation-logo.png' %}" alt="" style="width: 200px;"></div>
                        <div class="item"><p><h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel risus imperdiet, gravida justo eu adipiscing elit.</h5></p></div>
                        <div class="item font-text"><h4>INFORMATION</h4></div>
                        <div class="Infomation-content"><i class="fi fi-rs-marker"></i><span style="margin-left: 20px;">Jl. Raya Puputan No 142, Denpasar - Bali</span></div>
                        <div class="Infomation-content"><i class="fi fi-rs-envelope"></i><span style="margin-left: 20px;">support@domain.com</span></div>
                        <div class="Infomation-content"><i class="fi fi-rs-phone-call"></i><span style="margin-left: 20px;">+62 478-2240-190</span></div>
                        <div class="Infomation-content"><i class="fi fi-rs-clock-three"></i><span style="margin-left: 20px;">Everyday 24 Hours</span></div>
                        <div class="Social-links">
                          <div class="first-link"><a href="" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
                          <div><a href="" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
                          <div><a href="" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
                          <div><a href="" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></div>
                        </div>
                        <div><p><h5 class="copyright-content">Copyright © Carent 2023. All rights reserved.</h5></p></div>
                      </div>
                    </div>
                  </div>              
                </div><!-- /.side-navigation -->
              </div><!-- /.container-fluid -->
            </div><!-- /.main-navbar -->
        </header><!-- /.header -->
