{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carent – Car Rental Business &amp; Auto Dealer Elementor Template Kit Preview - ThemeForest</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.2/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.2/uicons-solid-straight/css/uicons-solid-straight.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel = "stylesheet" type="text/css" href = "{% static 'CSS/owl.carousel.min.css' %}">
    <link rel = "stylesheet" type="text/css" href = "{% static 'CSS/owl.theme.default.min.css' %}"> 
    <link rel="stylesheet" href="{% static 'CSS/styleapp.css' %}">
</head>
<body>
    <div class="site-wrapper">
        <header class="header">
            <div class="main-navbar">
              <div class="container-fluid">
                <div class="logo main-navbar-item">
                  <img class="" src="{% static 'images/main-navbar-logo.png' %}" alt="">
                </div><!-- /.logo -->
                <div class="nav-links main-navbar-item">
                  <nav class="top-navbar">
                    <input type="checkbox" id="nav-check">
                    <label for="nav-check" class="nav-chlab">☰</label>
                    <div class="navbar-links">
                      <img class="" src="{% static 'images/main-navbar-logo.png' %}" alt="">
                      <a class="left-padding" href="/">HOME</a>
                      <a href="{% url 'about' %}">ABOUT</a>                   
                      <a class="nav-link dropdown-toggle dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        OUR CARS
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">OUR CARS</a></li>
                        <li><a class="dropdown-item" href="#">CAR DETAIL</a></li>
                      </ul>
                      <a class="nav-link dropdown-toggle dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        FEATURES
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">OUR TEAM</a></li>
                        <li><a class="dropdown-item" href="#">FAQ</a></li>
                        <li><a class="dropdown-item" href="#">404 PAGE</a></li>
                      </ul>
                      <a class="nav-link dropdown-toggle dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        BLOG
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">BLOG</a></li>
                        <li><a class="dropdown-item" href="#">SINGLE POST</a></li>
                      </ul>
                      <a class="right-padding" href="/more">CONTACT</a>
                    </div>
                  </nav>
                </div><!-- /.nav-links -->
                <div class="side-navigation main-navbar-item">
                  <div class="menu-button" onclick="menuAnimation(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                  </div>
                  <div class="sidebar" id="slideNav">
                    <div class="nav-section" id="sideBarText">
                      <div class="item"><img src="{% static 'images/side-navigation-logo.png' %}" alt="" style="width: 200px;"></div>
                      <div class="item"><p><h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel risus imperdiet, gravida justo eu adipiscing elit.</h5></p></div>
                      <div class="item font-text"><h4>INFORMATION</h4></div>
                      <div class="Infomation-content"><i class="fi fi-rs-marker"></i><span style="margin-left: 20px;">Jl. Raya Puputan No 142, Denpasar - Bali</span></div>
                      <div class="Infomation-content"><i class="fi fi-rs-envelope"></i><span style="margin-left: 20px;">support@domain.com</span></div>
                      <div class="Infomation-content"><i class="fi fi-rs-phone-call"></i><span style="margin-left: 20px;">+62 478-2240-190</span></div>
                      <div class="Infomation-content"><i class="fi fi-rs-clock-three"></i><span style="margin-left: 20px;">Everyday 24 Hours</span></div>
                      <div class="Social-links">
                        <div class="first-link"><a href="" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
                        <div><a href="" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
                        <div><a href="" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
                        <div><a href="" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></div>
                      </div>
                      <div><p><h5 class="copyright-content">Copyright © Carent 2023. All rights reserved.</h5></p></div>
                    </div>
                  </div>
                </div><!-- /.side-navigation -->
              </div><!-- /.container-fluid -->
            </div><!-- /.main-navbar -->
        </header><!-- /.header -->
