:root {
  /* Main-Colors */
    --white-color: rgb(255, 255, 255);
    --black-color: rgb(0, 0, 0);
    --grey-color: rgb(105,105,105);
    --button-color: rgba(85,107,253,255);
    --footer-background-color-1: rgba(32,32,30,255);
    --footer-background-color-2:    rgba(22,22,22,255);
    --buttons-and-icons-color1:rgba(66,77,255,255);
    --ratings-color: 	rgb(255,165,0) ;
    --ratings-input-color:	  rgb(255,223,0) ;
    --off-white-color:   rgba(235,235,235,255);
  
  /* Main-Fonts */
    --main-font:"Axion RX 14 W01 Regular";
    --secondary-font: "Roboto", sans-serif;
  
  
  
  }
  



/* 2) ABOUT PAGE */


/* About-Hero-Section */



.About-Hero-Section-image {
    position: relative;
  
  }
  
  .About-Hero-Section-image img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    background-color: var(--black-color);
  }
  
  .About-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust opacity here */
  }
  
  .About-Hero-Section-Image-Content{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    
  }
  
  .About-Hero-Section-Image-Content .content{
    padding: 10px 0;
  
  }
  
  
  
  
  .About-Hero-Section-Image-Content h2{
    font-family: var(--main-font);
    font-size: 60px;
    color: var(--white-color);
  }
  
  .About-Hero-Section-Image-Content p{
    font-family: var(--secondary-font);
    font-size: 20px;
    color: var(--white-color);
    font-weight: 300;
    font-style: normal;
    text-align: center;
  
  }
  
  
  @media (max-width: 2000px) {
    .About-Hero-Section-Image-Content{
      top: 18%;   
    }
  
  }
  
  @media (max-width: 1800px) {
    .About-Hero-Section-Image-Content{
      top: 16%;   
    }
  
  }
  @media (max-width: 1690px) {
    .About-Hero-Section-Image-Content{
      top: 14%;   
    }
    .About-Hero-Section-Image-Content h2{
      font-size: 45px;
    }
    .About-Hero-Section-Image-Content p{
      font-size: 15px;
    }
  
  
  }
  
  
  @media (max-width: 1350px) {
    .About-Hero-Section-Image-Content h2{
      font-size: 35px;
    }
    .About-Hero-Section-Image-Content p{
      font-size: 12px;
    }
  
  }
  
  @media (max-width: 1300px) {
    .About-Hero-Section-Image-Content{
      top: 12%;   
    }
  
    .About-Hero-Section-Image-Content h2{
      font-size: 30px;
    }
    .About-Hero-Section-Image-Content p{
      font-size: 12px;
    }
  
  }
  
  @media (max-width: 1050px) {
    .About-Hero-Section-Image-Content{
      top: 10%;   
    }
  
    .About-Hero-Section-Image-Content h2{
      font-size: 25px;
    }
    .About-Hero-Section-Image-Content p{
      font-size: 12px;
    }
  
  }
  
  @media (max-width: 950px) {
    .About-Hero-Section-Image-Content{
      position: relative;
      display: flex;
      justify-content: center;
    }
    .About-Hero-Section-Image-Content h2{
      font-size: 40px;
      color: var(--black-color);
    }
    
    .About-Hero-Section-Image-Content p{
      font-size: 18px;
      color: var(--black-color);
      text-align: left;
    
    }
  
  }
  
  
  
  
  
  
  
  
  /* About-Counter Section */
  .driving-excellence-About-counter-section{
    margin-top: 100px;
  }
  
  
  .driving-excellence-About-counter-section .content .About-us-link {
    padding-top: 30px;
    
  }
  
  
  .driving-excellence-counter-section .content .About-us-link a{
    text-align: center;
    font-family: var(--secondary-font);
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    color: var(--buttons-and-icons-color1);
    border-bottom: 1px solid;
    border-color: var(--buttons-and-icons-color1);
    
  
  }
  
  
  .driving-excellence-counter-section .content .About-us-link a span{
    padding-left: 20px;
    color: var(--buttons-and-icons-color1);
  
  
  }



.driving-excellence-About-counter-section .content p{
  color: var(--black-color);
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 18px;
}



















  
  /* Counter Section (Counter Animation) */
  
  
   
  .About-Counter-animation{
    display: flex; 
  
  } 
  
  
  .About-Counter-animation .About-counter-box{
    display: flex; 
    align-items: center;
  }
  
  .About-counterapp-col{
    padding: 0 50px;
  }
  .About-counterapp-col-no-padding{
    padding-left: 0;
  }
  
  
  .About-counterapp-col h2{
    font-family: var(--main-font);
    color: var(--black-color);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
  }
  
  .About-counterapp-col span{
    padding-left: 10px;
    font-family: var(--main-font);
    color: var(--buttons-and-icons-color1);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
  }
  
  .About-counterapp-col h4{
    padding-top: 15px;
    font-family: var(--secondary-font);
    color: var(--black-color);
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
  } 
  
  /* Counter Section (Counter Animation) Media Query*/
  
  
  @media (max-width: 700px) {
    .About-Counter-animation{
      display: block; 
    
    }
    .About-counterapp-col{
      padding: 0;
    }
    .About-counterapp-col-no-padding{
      padding: 0;
    }
  
  
  }

  
  /* Book-Your-Adventure-Section */

  .Book-your-drive-section{
    margin-top: 100px;
    background-color: var(--black-color);
  }
  
  .Book-your-drive-section .content{
    padding: 100px 0;
    text-align: center;
  }
  
  
  .Book-your-drive-section h2{
    font-family: var(--main-font);
    text-transform: uppercase;
    color: var(--white-color);
    font-size: 50px;
  }
  

  .Book-your-drive-section p{
    padding-top: 30px;
    font-family: var(--secondary-font);
    color: var(--white-color);
    font-size: 20px;
  }

  .Book-your-drive-section .Book-Now-button{
    padding-top: 30px;
  }
  .Book-your-drive-section .Book-Now-button a{
    font-family: var(--secondary-font);
    color: var(--white-color);
    font-size: 20px;
    text-transform: uppercase;
    background-color: var(--buttons-and-icons-color1);
    padding: 10px;
    font-weight: 400;
  }
  
  .Book-your-drive-section .Book-Now-button a:hover{
    color: var(--buttons-and-icons-color1);
    background-color: var(--white-color);
  }
  


  @media (max-width: 970px) {
    .Book-your-drive-section h2{
      font-size: 30px;
    }
    .Book-your-drive-section p{
      font-size: 17px;
    }
    .Book-your-drive-section .Book-Now-button a{
      font-size: 17px;
    }
  
  }

  @media (max-width: 500px) {
    .Book-your-drive-section h2{
      font-size: 25px;
    }
    .Book-your-drive-section p{
      font-size: 15px;
    }
    .Book-your-drive-section .Book-Now-button a{
      font-size: 15px;
    }
  
  }

  .sign-up:before, .sign-up:after {
    content: '';
    position: none;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    background: none;
    border-bottom: 0;
    border-radius: 0;
}




  /*About-Heading*/
  
  
  
  .About-Heading{
    margin: 100px 0;
  }
  
  .About-Heading .container{
    display: flex;
    justify-content: center;
  }
  
  
  .About-Heading h2{
    font-family: var(--main-font);
    font-size: 40px;
    font-weight: 700;
    color: var(--black-color);
    text-align: center;
  }
  
  
  
  
  
  
  /* About-Cards-Section */
  



 .About-Cards .col-xl-4{
    display: flex;
    justify-content: center;
  }
  
  .About-Cards .container .card {
      position: relative;
      width: 400px;
      height: 600px;
      margin: 5px;
    margin-bottom: 80px;
      overflow: hidden;
    border: 0;
    background-color: var(--off-white-color);
      border-radius: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    cursor: default;
  }
  .About-Cards .container .card .content {
      position: absolute;
      bottom: -160px;
      width: 100%;
      height: 160px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
      flex-direction: column;
      backdrop-filter: blur(50px); /* Apply blur effect */
      background-color: rgba(255, 255, 255, 0.3); /* White overlay with 50% opacity */
      border: 0;
      transition: bottom 0.3s;
      transition-delay: 0.4s;
  }
  
  
  .About-Cards .container .card:hover .content {
      bottom: 0px;
      transition-delay: 0s;
  }
  .About-Cards .container .card .content .contentBox h3 {
      color: var(--black-color);
      text-transform: uppercase;
      letter-spacing: 2px;
    font-family: var(--main-font);
      font-weight: 500;
      font-size: 25px;
      text-align: center;
      margin: 20px 0 15px;
      line-height: 1.1em;
      transition: 0.5s;
      opacity: 0;
      transform: translate(20px, 30px);
      transition-delay: 0.6s;
  }
  .About-Cards .container .card:hover .content .contentBox h3 {
      opacity: 1;
      transform: translateY(0px);
      text-transform: uppercase;
  }
  .About-Cards .container .card .content .contentBox h3 span {
    color: var(--buttons-and-icons-color1);
    font-family: var(--secondary-font);
      font-size: 18px;
      font-weight: 400;
      text-transform: initial;
  }
  .About-Cards .container .card .content .sci {
      position: relative;
      bottom: 10px;
      display: flex;
  }
  
  .About-Cards .container .card .content .sci ol, ul {
    padding-left: 0;
  }
  
  
  .About-Cards .container .card .content .sci li {
      list-style: none;
      margin: 0 10px;
      transform: translateY(40px);
      transition: 0.5s;
      opacity: 0;
      transition-delay: calc(0.2s * var(--i));
  }
  .About-Cards .container .card:hover .content .sci li {
      transform: translateY(0px);
      opacity: 1;
  }
  
  .About-Cards .container .card .content .sci li a {
      color: var(--white-color);
      font-size: 20px;
    border: 2px solid;
    border-color: var(--white-color);
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px; /* Example size */
    height: 40px; /* Example size */
  }
  
  .About-Cards .container .card .content .sci li a:hover {
      color: var(--buttons-and-icons-color1);
    background-color: var(--white-color);
  
    
  }
  
  .About-Cards .container .card .content .sci li a:hover i{
    display: inline-block;
    transition: transform 0.3s ease;
    animation: bounce 0.2s ease forwards; /* Apply the bounce animation */
  
    
  }
  
  
  
  @keyframes bounce {
    0% {
        transform: translateY(0); /* Start at the original position */
    }
    25% {
        transform: translateY(10px); /* Move down */
  
    }
    50% {
        transform: translateY(-10px); /* Move back to the original position */
  
    }
    100% {
        transform: translateY(0); /* Move back to the original position */
    }
  }