{% load static %}
{% include 'header/header.html' %}
<main class="main-content">
    <section class="About-Main-Hero-Section">
        <div class="About-Hero-Section-image">
            <img class="" src="{% static 'images/Default-Hero-Section-Image.png' %}" alt="">
            <div class="About-image-overlay"></div>
        </div><!-- /.Hero-Section-image -->
        <div class="About-Hero-Section-Image-Content">
            <div class="container">
                <div class="About-Hero-Section-Image-Content-Heading content">
                    <h2>DRIVING EXCELLENCE,<br>ONE RENTAL AT A TIME</h2>
                </div><!-- /.Hero-Section-Image-Content-Heading -->
                <div class="About-Hero-Section-Image-Content-Description content">
                    <p>It emphasizes the idea that you have the power to choose the ideal<br>car that suits your preferences and needs.</p>
                </div>
            </div><!-- /.container -->
        </div><!-- /.Hero-Section-Image-Content -->       
    </section><!-- /.Main-Hero-Section -->
    <div class="Driving-excellence-owl-carousel" style="margin-top: 50px;">
        <div class="container-fluid">
         
            <div class="hero-slider" data-carousel class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-cell" style="background-image: url('{% static 'images/driving-excellence-slide-1.jpg' %}');">
                  <div class="overlay-carousel-cell"></div>
                  <div class="inner">
                    <!-- <h2 class="title">DRIVING EXCELLENCE,<br>ONE RENTAL AT A TIME</h2> -->
                  </div>
                </div>
              <div class="carousel-cell" style="background-image: url('{% static 'images/driving-excellence-slide-2.jpg' %}');">
                  <div class="overlay-carousel-cell"></div>
                  <div class="inner">
                    <!-- <h2 class="title">DRIVING EXCELLENCE,<br>ONE RENTAL AT A TIME</h2> -->
                  </div>
                </div>
              <div class="carousel-cell" style="background-image: url('{% static 'images/driving-excellence-slide-3.jpg' %}');">
                  <div class="overlay-carousel-cell"></div>
                  <div class="inner">
                    <!-- <h2 class="title">DRIVING EXCELLENCE,<br>ONE RENTAL AT A TIME</h2> -->
                  </div>
                </div>
              </div>
        </div><!-- /.container-fluid -->
    </div><!-- /.Driving-excellence-owl-carousel -->
    <div class="driving-excellence-About-counter-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12	  col-md-12	  col-lg-12  col-xl-5">
                    <div class="content">
                        <p class="Test-Size">"Renting a car is not just about getting from point A to point B, it's about the <b>journey and experiences</b> you create along the way. We're here to make every mile of your adventure exceptional."<br><br>
                            Quisque rutrum aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui etiam rhoncus. Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
                            <div class="Our-Cars-link">
                                <a href="{% url 'our_cars' %}">OUR CARS<span><i class="fi fi-rs-arrow-right"></i></span></a>
                            </div>
                        </div><!-- /.content -->
                    </div><!-- /.col-5 -->
                
                <div class="col-1"></div><!-- /.col-1 -->
                <div class="col-sm-12	 col-md-12	  col-lg-12   col-xl-6 ">
                    <div class="About-Counter-animation">        
                        <div class=" About-counterapp-col About-counterapp-col-no-padding">
                            <div class="About-counter-box">
                                <h2 class="counter">10</h2><span class="About-counterapp-span">+</span>
                            </div>
                            <h4>Years experience</h4>
                        </div>
                        <div class=" About-counterapp-col">
                            <div class="About-counter-box">
                                <h2 class="counter">62</h2><span class="About-counterapp-span">+</span>
                            </div>
                            <h4>Number of Cars</h4>
                            </div>
                        <div class="About-counterapp-col">
                            <div class="About-counter-box">
                                <h2 class="counter">97</h2><span class="About-counterapp-span">%</span>
                            </div>
                            <h4>Satisfaction Rate</h4>
                        </div>                  
                    </div><!-- /.Counter-animation -->
                </div><!-- /.col-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.driving-excellence-counter -->
    <div class="Book-your-drive-section">
        <div class="content">
            <h2>Book Your Adventure<br>Today – Drive with Us!</h2>
            <p>Start your adventure now by booking with us, and let<br>the road lead you to incredible destinations.</p>
            <div class="Book-Now-button">
                <a href="">book now</a>
            </div><!-- /.Book-Now-button -->
        </div><!-- /.content -->
    </div><!-- /.Book-your-drive-section -->
    <div class="About-Heading">
        <div class="container">
            <h2>MEET OUR TEAM</h2>
        </div><!-- /.container -->
    </div><!-- /.Our-Team-Heading -->
    <div class="About-Cards">
        <div class="container">
            <div class="row">
                {% for card in top_3_cards %}
                <div class="col-xs-12	   col-sm-12	  col-md-12	  col-lg-6   col-xl-4">
                    <div class="card">
                        <div class="imgbox">
                            <img src="/media/{{card.image}}" height="600px">
                        </div>
                        <div class="content">
                            <div class="contentBox">
                                <h3>{{card.name}}<br><span>{{card.profession}}</span></h3>
                            </div>
                            <ul class="sci">
                                <li style="--i:1;"><a href="{{card.facebook_link}}"><i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a></li>
                                <li style="--i:2;"><a href="{{card.twitter_link}}"><i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a></li>
                                <li style="--i:3;"><a href="{{card.instagram_link}}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!-- /.col-4 -->
                {% endfor %}
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.Our-Team-Cards -->

</main><!-- /.main-content -->
{% include 'footer/footer.html' %}