{% load static %}
{% include 'header/header.html' %}

<main class="main-content">
    <section class="Blog-Main-Hero-Section">
        <div class="Blog-Hero-Section-image">
            <img class="" src="{% static 'images/Default-Hero-Section-Image.png' %}" alt="">
            <div class="Blog-image-overlay"></div>
        </div><!-- /.Hero-Section-image -->
        <div class="Blog-Hero-Section-Image-Content">
            <div class="container">
                <div class="Blog-Hero-Section-Image-Content-Heading content">
                    <h2>EXPLORE OUR BLOG<br>AND ARTICLES</h2>
                </div><!-- /.Hero-Section-Image-Content-Heading -->
                <div class="Blog-Hero-Section-Image-Content-Description content">
                    <p>Get Subscribed to Stay Informed about us!</p>
                </div>
            </div><!-- /.container -->
        </div><!-- /.Hero-Section-Image-Content -->       
    </section><!-- /.Main-Hero-Section -->
    <div class="Blog-Cards-Section" style="margin: 100px 0;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12	   col-sm-12	  col-md-6	  col-lg-4" style="margin-bottom: 50px;">
                    <div class = "product-item">
                        <div class = "product-img">
                            <img src ="{% static 'images/Our-Latest-Blog-and-Articles-1.jpg' %}" alt = "" class = "img-fluid d-block mx-auto">
                            <span class = "Save">Insight</span>
                        </div>  
                        <div class = "product-info">
                            <span class = "product-type"><h2>SAVING ON WHEELS: HOW TO FIND THE BEST CAR RENTAL</h2></span>
                            
                        </div> 
                        <div class = "row btns text-center" style="display: flex; justify-content: center;">
                            <a href=""  class = "col-6 py-2" >READ MORE</a>
                        </div>     
                    </div>
                </div><!-- /.col-4 -->
                <div class="col-xs-12	   col-sm-12	  col-md-6	  col-lg-4" style="margin-bottom: 50px;">
                    <div class = "product-item">
                        <div class = "product-img">
                            <img src ="{% static 'images/Our-Latest-Blog-and-Articles-2.jpg' %}" alt = "" class = "img-fluid d-block mx-auto">
                            <span class = "Save">Insight</span>
                        </div>  
                        <div class = "product-info">
                            <span class = "product-type"><h2>Road Trip Essentials: Choosing The Right Car Rental</h2></span>
                            
                        </div> 
                        <div class = "row btns text-center" style="display: flex; justify-content: center;">
                            <a href=""  class = "col-6 py-2" >READ MORE</a>
                        </div>     
                    </div>
                </div><!-- /.col-4 -->
                <div class="col-xs-12	   col-sm-12	  col-md-6	  col-lg-4" style="margin-bottom: 50px;">
                    <div class = "product-item">
                        <div class = "product-img">
                            <img src ="{% static 'images/Our-Latest-Blog-and-Articles-3.jpg' %}" alt = "" class = "img-fluid d-block mx-auto">
                            <span class = "Save">News</span>
                        </div>  
                        <div class = "product-info">
                            <span class = "product-type"><h2>Car Rental Hacks: Maximizing Your Travel Experience</h2>
                            </span>              
                        </div> 
                        <div class = "row btns text-center" style="display: flex; justify-content: center;">
                            <a href=""  class = "col-6 py-2" >READ MORE</a>
                        </div>     
                    </div>
                </div><!-- /.col-4 -->
                <div class="col-xs-12	   col-sm-12	  col-md-6	  col-lg-4" style="margin-bottom: 50px;">
                    <div class = "product-item">
                        <div class = "product-img">
                            <img src ="{% static 'images/Our-Latest-Blog-and-Articles-4.jpg' %}" alt = "" class = "img-fluid d-block mx-auto">
                            <span class = "Save">Tips & Trick</span>
                        </div>  
                        <div class = "product-info">
                            <span class = "product-type"><h2>Driven to Explore: The Joy of Renting And Roaming</h2></span>
                            
                        </div> 
                        <div class = "row btns text-center" style="display: flex; justify-content: center;">
                            <a href=""  class = "col-6 py-2" >READ MORE</a>
                        </div>     
                    </div>
                </div><!-- /.col-4 -->
                <div class="col-xs-12	   col-sm-12	  col-md-6	  col-lg-4" style="margin-bottom: 50px;">
                    <div class = "product-item">
                        <div class = "product-img">
                            <img src ="{% static 'images/Our-Latest-Blog-and-Articles-5.jpg' %}" alt = "" class = "img-fluid d-block mx-auto">
                            <span class = "Save">Insight</span>
                        </div>  
                        <div class = "product-info">
                            <span class = "product-type"><h2>On The Go: Exploring The Benefits of Renting a Car</h2></span>
                            
                        </div> 
                        <div class = "row btns text-center" style="display: flex; justify-content: center;">
                            <a href=""  class = "col-6 py-2" >READ MORE</a>
                        </div>     
                    </div>
                </div><!-- /.col-4 -->
                <div class="col-xs-12	   col-sm-12	  col-md-6	  col-lg-4" style="margin-bottom: 50px;">
                    <div class = "product-item">
                        <div class = "product-img">
                            <img src ="{% static 'images/Our-Latest-Blog-and-Articles-6.jpg' %}" alt = "" class = "img-fluid d-block mx-auto">
                            <span class = "Save">News</span>
                        </div>  
                        <div class = "product-info">
                            <span class = "product-type"><h2>The Art of Car Rental: Tips For a Smooth Journey</h2>
                            </span>                 
                        </div> 
                        <div class = "row btns text-center" style="display: flex; justify-content: center;">
                            <a href=""  class = "col-6 py-2" >READ MORE</a>
                        </div>     
                    </div>
                </div><!-- /.col-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
        <div class="Blog-Pagination">
            <div class="container">
                <div class="Pagination">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                      </nav>
                </div><!-- /.Pagination -->
            </div><!-- /.container -->
        </div><!-- /.Blog-Pagination -->
    </div><!-- /.Blog-Cards-Section -->
</main><!-- /.main-content -->


{% include 'footer/footer.html' %}