{% load static %}
{% include 'header/header.html' %}

<main class="main-content" >
    <section class="Car-Detail-Main-Hero-Section">
        <div class="Car-Detail-Hero-Section-image">
            <img class="" src="{% static 'images/Default-Hero-Section-Image.jpg' %}" alt="">
            <div class="Car-Detail-image-overlay"></div>
        </div><!-- /.Hero-Section-image -->
        <div class="Car-Detail-Hero-Section-Image-Content">
            <div class="container">
                <div class="Car-Detail-Hero-Section-Image-Content-Heading content">
                    <h2>IN-DEPTH RENTAL<br>CAR DETAILS</h2>
                </div><!-- /.Hero-Section-Image-Content-Heading -->
                <div class="Car-Detail-Hero-Section-Image-Content-Description content">
                    <p>We understand that choosing the ideal car is a crucial<br>part of your travel experience.</p>
                </div>
            </div><!-- /.container -->
        </div><!-- /.Hero-Section-Image-Content -->       
    </section><!-- /.Main-Hero-Section -->
    <div class="Car-Detail-Section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12  col-md-12  col-lg-4 col-xl-4 ">
                    <h3 class=" Car-Detail-Heading ">CAR DETAILS</h3>
                    <div class="Car-Details-Rows">
                        <div class="first-row">
                            <h4><i class="fi fi-rs-review"></i>Passengers 4</h4>
                            <h4><i class="fi fi-rs-gas-pump-alt"></i>Petrol</h4>
                        </div><!-- /.first-row -->
                        <div class="second-row">
                            <h4><i class="fi fi-rs-exchange"></i>Manual</h4>
                            <h4><i class="fi fi-rs-bolt"></i>AT/MT</h4>
                        </div><!-- /.first-row -->               
                    </div><!-- /.Car-Details-Rows -->
                    <div class="More-Car-List" style="margin-top: 40px;">
                        <div class="Car-List">
                            <div class="list-group">
                                <a class="list-group-item list-group-item-action disabled heading" aria-disabled="true">MORE CAR LIST</a>
                                <a href="#" class="list-group-item list-group-item-action">Honda Cross Over</a>
                                <a href="#" class="list-group-item list-group-item-action">Luxury Cross Over</a>
                                <a href="#" class="list-group-item list-group-item-action">Honda Civic RS</a>
                                <a href="#" class="list-group-item list-group-item-action">BMX 1 GTR</a>
                                <a href="#" class="list-group-item list-group-item-action">Ford Raptor</a>
                              </div>
                        </div><!-- /.Car-List -->
                    </div><!-- /.More-Car-List -->
                </div><!-- /.col-3 -->
                <div class="col-sm-12  col-md-12  col-lg-8 col-xl-8 ">
                    <div class="image-section">
                        <img src="{% static 'images/Our-Featured-Cars-pic-1.jpg' %}" style="width: 100%;" alt="">
                    </div><!-- /.image-section -->
                    <div class="Car-Inside-Carousel">
                        <div class = "row owl-carousel-7 owl-carousel owl-theme">    
                            <div class = "col-4 product-item">
                                <div class = "product-img">
                                    <img src ="{% static 'images/Car-Detail-Owl-Carousel-1.jpg' %}" alt = "" class = "img-fluid d-block mx-auto">
                                </div>   
                            </div>
                            <div class = "col-4 product-item">
                                <div class = "product-img">
                                    <img src ="{% static 'images/Car-Detail-Owl-Carousel-2.jpg' %}" alt = "" class = "img-fluid d-block mx-auto">
                                </div>   
                            </div>
                            <div class = "col-4 product-item">
                                <div class = "product-img">
                                    <img src ="{% static 'images/Car-Detail-Owl-Carousel-3.jpg' %}" alt = "" class = "img-fluid d-block mx-auto">
                                </div>   
                            </div>
                            <div class = "col-4 product-item">
                                <div class = "product-img">
                                    <img src ="{% static 'images/Car-Detail-Owl-Carousel-4.jpg' %}" alt = "" class = "img-fluid d-block mx-auto">
                                </div>   
                            </div>
                        </div>
                    </div><!-- /.Car-Inside-Carousel -->
                    <div class="Rating-Price" style="display: flex; justify-content: space-between; align-items: center;">
                        <div class="Rating"><h5>4.5<span class="padding-left">(50+ reviews)</span></h5></div><!-- /.Rating -->
                        <div class="Price"><h3>$35.00<span class="light-font"> / Hours</span></h3></div><!-- /.Price -->
                    </div><!-- /.Rating-Price -->
                    <div class="Car-Information">
                        <div class="Car-Name">
                            <h3>HONDA HYBRID SUV</h3>
                        </div><!-- /.Car-Name -->
                        <div class="Car-Info">
                            <p>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi nam eget dui. Etiam rhoncus. Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet adipiscing sem neque sed ipsum. Nam quam nunc blandit vel luctus pulvinar hendrerit id lorem.</p>
                        </div><!-- /.Car-Info -->
                        <div class="Car-Features">
                            <div class="Left-Section">
                                <p><span class="material-symbols-outlined">check</span>Lorem ipsum dolor sit amet consectetur.</p>
                                <p><span class="material-symbols-outlined">check</span>Lorem ipsum dolor sit amet consectetur.</p>
                                <p><span class="material-symbols-outlined">check</span>Lorem ipsum dolor sit amet consectetur.</p>
                            </div><!-- /.Left-Section -->
                            <div class="Right-Section">
                                <p><span class="material-symbols-outlined">check</span>Lorem ipsum dolor sit amet consectetur.</p>
                                <p><span class="material-symbols-outlined">check</span>Lorem ipsum dolor sit amet consectetur.</p>
                                <p><span class="material-symbols-outlined">check</span>Lorem ipsum dolor sit amet consectetur.</p>                       
                            </div><!-- /.Right-Section -->
                        </div><!-- /.Car-Features -->
                        <div class="Book-Now-button">
                            <a href="">BOOK NOW</a>
                        </div><!-- /.Book-Now-button -->
                    </div><!-- /.Car-Information -->
                </div><!-- /.col-8 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.Car-Detail-Section -->
</main><!-- /.main-content -->

{% include 'footer/footer.html' %}