{% load static %}
{% include 'header/header.html' %}


<main class="main-content">
    <section class="FAQ-Main-Hero-Section">
        <div class="FAQ-Hero-Section-image">
            <img class="" src="{% static 'images/Default-Hero-Section-Image.jpg' %}" alt="">
            <div class="FAQ-image-overlay"></div>
        </div><!-- /.Hero-Section-image -->
        <div class="FAQ-Hero-Section-Image-Content">
            <div class="container">
                <div class="FAQ-Hero-Section-Image-Content-Heading content">
                    <h2>EVERYTHING YOU NEED TO KNOW, RENT CAR FAQ</h2>
                </div><!-- /.Hero-Section-Image-Content-Heading -->
                <div class="FAQ-Hero-Section-Image-Content-Description content">
                    <p>Have questions? We’re to here to help.</p>
                </div>
            </div><!-- /.container -->
        </div><!-- /.Hero-Section-Image-Content -->
    </section><!-- /.Main-Hero-Section -->
</main><!-- /.main-content -->






{% include 'footer/footer.html' %}