{% load static %}
{% include 'header/header.html' %}


<main class="main-content">
    <section class="FAQ-Main-Hero-Section">
        <div class="FAQ-Hero-Section-image">
            <img class="" src="{% static 'images/Default-Hero-Section-Image.jpg' %}" alt="">
            <div class="FAQ-image-overlay"></div>
        </div><!-- /.Hero-Section-image -->
        <div class="FAQ-Hero-Section-Image-Content">
            <div class="container">
                <div class="FAQ-Hero-Section-Image-Content-Heading content">
                    <h2>EVERYTHING YOU NEED TO KNOW, RENT CAR FAQ</h2>
                </div><!-- /.Hero-Section-Image-Content-Heading -->
                <div class="FAQ-Hero-Section-Image-Content-Description content">
                    <p>Have questions? We’re to here to help.</p>
                </div>
            </div><!-- /.container -->
        </div><!-- /.Hero-Section-Image-Content -->
    </section><!-- /.Main-Hero-Section -->
    <div class="FAQ-Section" style="margin: 150px 0;">
        <div class="FAQ-General-Questions-Section">
            <div class="container">
                <h2 class="general-questions-heading">GENERAL QUESTIONS</h2>
                <div class="accordion">
                  <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">HOW OLD DO I NEED TO BE TO RENT A CAR?</span><span class="icon general-questions-icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title">WHAT DOCUMENTS DO I NEED TO RENT A CAR?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false"><span class="accordion-title">DO I NEED INSURANCE WHEN RENTING A CAR?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title">WHAT IS THE FUEL POLICY FOR RENTAL CARS?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                    </div>
                  </div>
                </div>
            </div>
        </div><!-- /.FAQ-General-Questions-Section -->
        <div class="FAQ-Questions-About-Payment-Section" style="margin: 100px 0;">
            <div class="container">
                <h2 class="general-questions-heading">QUESTIONS ABOUT PAYMENT</h2>
                <div class="accordion">
                  <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">HOW OLD DO I NEED TO BE TO RENT A CAR?</span><span class="icon general-questions-icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title">WHAT DOCUMENTS DO I NEED TO RENT A CAR?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false"><span class="accordion-title">DO I NEED INSURANCE WHEN RENTING A CAR?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title">WHAT IS THE FUEL POLICY FOR RENTAL CARS?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                    </div>
                  </div>
                </div>
            </div>
        </div><!-- /.FAQ-Questions-About-Payment-Section -->
    </div><!-- /.FAQ-Section -->
</main><!-- /.main-content -->






{% include 'footer/footer.html' %}