{% load static %}
{% include 'header/header.html' %}


<main class="main-content">
    <section class="About-Main-Hero-Section">
        <div class="About-Hero-Section-image">
            <img class="" src="{% static 'images/Default-Hero-Section-Image.jpg' %}" alt="">
            <div class="About-image-overlay"></div>
        </div><!-- /.Hero-Section-image -->
        <div class="About-Hero-Section-Image-Content">
            <div class="container">
                <div class="About-Hero-Section-Image-Content-Heading content">
                    <h2>MEET THE HEART AND<br>SOUL OF OUR TEAM</h2>
                </div><!-- /.Hero-Section-Image-Content-Heading -->
                <div class="About-Hero-Section-Image-Content-Description content">
                    <p>Our team is not just a group of professionals, they are the driving force, the<br>creative minds and the heart and soul of everything we do.</p>
                </div>
            </div><!-- /.container -->
        </div><!-- /.Hero-Section-Image-Content -->       
    </section><!-- /.Main-Hero-Section -->
    <div class="Our-Team-Cards">
        <div class="container">
            <div class="row">
                <div class="col-4">

                </div><!-- /.col-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.Our-Team-Cards -->
</main><!-- /.main-content -->






{% include 'footer/footer.html' %}