{% load static %}
{% include 'header/header.html' %}
<main class="main-content">
    <section class="About-Main-Hero-Section">
        <div class="About-Hero-Section-image">
            <img class="" src="{% static 'images/Default-Hero-Section-Image.png' %}" alt="">
            <div class="About-image-overlay"></div>
        </div><!-- /.Hero-Section-image -->
        <div class="About-Hero-Section-Image-Content">
            <div class="container">
                <div class="About-Hero-Section-Image-Content-Heading content">
                    <h2>MEET THE HEART AND<br>SOUL OF OUR TEAM</h2>
                </div><!-- /.Hero-Section-Image-Content-Heading -->
                <div class="About-Hero-Section-Image-Content-Description content">
                    <p>Our team is not just a group of professionals, they are the driving force, the<br>creative minds and the heart and soul of everything we do.</p>
                </div>
            </div><!-- /.container -->
        </div><!-- /.Hero-Section-Image-Content -->       
    </section><!-- /.Main-Hero-Section -->
    <div class="Our-Team-Heading">
        <div class="container">
            <h2>MEET OUR TEAM</h2>
        </div><!-- /.container -->
    </div><!-- /.Our-Team-Heading -->
    <div class="Our-Team-Cards">
        <div class="container">
            <div class="row">
                <div class="col-xs-12	   col-sm-12	  col-md-12	  col-lg-6   col-xl-4">
                    <div class="card">
                        <div class="imgbox">
                            <img src="{% static 'images/Our-Team-1.png' %}" height="600px">
                        </div>
                        <div class="content">
                            <div class="contentBox">
                                <h3>TONY JOE<br><span>CEO Carent</span></h3>
                            </div>
                            <ul class="sci">
                                <li style="--i:1;"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a></li>
                                <li style="--i:2;"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a></li>
                                <li style="--i:3;"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!-- /.col-4 -->
                <div class="col-xs-12	   col-sm-12	  col-md-12	  col-lg-6   col-xl-4">
                    <div class="card">
                        <div class="imgbox">
                            <img src="{% static 'images/Our-Team-2.png' %}" height="600px">
                        </div>
                        <div class="content">
                            <div class="contentBox">
                                <h3>MELLISA HEINZ<br><span>Marketing</span></h3>
                            </div>
                            <ul class="sci">
                                <li style="--i:1;"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a></li>
                                <li style="--i:2;"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a></li>
                                <li style="--i:3;"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!-- /.col-4 -->
                <div class="col-xs-12	   col-sm-12	  col-md-12	  col-lg-6   col-xl-4">
                    <div class="card">
                        <div class="imgbox">
                            <img src="{% static 'images/Our-Team-3.png' %}" height="600px">
                        </div>
                        <div class="content">
                            <div class="contentBox">
                                <h3>ANDRE DOE<br><span>Manager</span></h3>
                            </div>
                            <ul class="sci">
                                <li style="--i:1;"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a></li>
                                <li style="--i:2;"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a></li>
                                <li style="--i:3;"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!-- /.col-4 -->
                <div class="col-xs-12	   col-sm-12	  col-md-12	  col-lg-6   col-xl-4">
                    <div class="card">
                        <div class="imgbox">
                            <img src="{% static 'images/Our-Team-4.png' %}" height="600px">
                        </div>
                        <div class="content">
                            <div class="contentBox">
                                <h3>SARAH MELIA<br><span>Accounting</span></h3>
                            </div>
                            <ul class="sci">
                                <li style="--i:1;"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a></li>
                                <li style="--i:2;"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a></li>
                                <li style="--i:3;"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!-- /.col-4 -->
                <div class="col-xs-12	   col-sm-12	  col-md-12	  col-lg-6   col-xl-4">
                    <div class="card">
                        <div class="imgbox">
                            <img src="{% static 'images/Our-Team-5.png' %}" height="600px">
                        </div>
                        <div class="content">
                            <div class="contentBox">
                                <h3>DAVID JAMES<br><span>Asst. Manager</span></h3>
                            </div>
                            <ul class="sci">
                                <li style="--i:1;"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a></li>
                                <li style="--i:2;"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a></li>
                                <li style="--i:3;"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!-- /.col-4 -->
                <div class="col-xs-12	   col-sm-12	  col-md-12	  col-lg-6   col-xl-4">
                    <div class="card">
                        <div class="imgbox">
                            <img src="{% static 'images/Our-Team-6.png' %}" height="600px">
                        </div>
                        <div class="content">
                            <div class="contentBox">
                                <h3>JENNIFER<br><span>Marketing</span></h3>
                            </div>
                            <ul class="sci">
                                <li style="--i:1;"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a></li>
                                <li style="--i:2;"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a></li>
                                <li style="--i:3;"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!-- /.col-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.Our-Team-Cards -->
    <section class="Background-Video">
        <div class="Background-Video-Our-Car-Section">
            <video id="background-video-Cars-Section" autoplay loop muted preload="none">
                <source src="{% static 'videos/Background-Advertisment-Video-For-App-1.mp4' %}" type="video/mp4">
            </video>    
            <div class="text-overlay">
                <div class="container">
                    <div class="row" >
                        <div class="col-md-12 text-white">
                            <h2>DOWNLOAD OUR <br>CARENT APP!</h2>
                            <p>Start your 30-day free trial today.</p>
                            <a class="Get-now-button" href="">GET NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /Background-Video-Our-Car-Section --> 
        <div class="Mobile-Display-Video-Overlay">
            <div class="container">
                <div class="mobile-overlay">
                    <div class="text-white">
                        <h2>DOWNLOAD OUR <br>CARENT APP!</h2>
                        <p>Start your 30-day free trial today.</p>
                        <a class="Get-now-button" href="">GET NOW</a>
                    </div>
                </div>
            </div><!-- /.container -->
        </div><!-- /.Mobile-Display-Video-Overlay -->
    </section><!-- /.Background-Video -->
    <div class="Testimonial-Section-heading">
        <h2>WHAT CUSTOMER SAY <br>ABOUT CARENT</h2>
    </div><!-- /.Testimonial-Section-heading -->
    <section class="Customer-Testimonial">
        <div class="Testimonial-Section">
            <div class="container py-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="testimonial-bg">
                            <div id="testimonial-slider" class="owl-carousel owl-carousel-2 owl-theme">
                                <div class="testimonial">
                                    <p class="description">
                                        "Carent made my recent trip a breeze! The booking process was a snap, and I got an awesome car that was clean and ready to hit the road. Their customer service team was also incredibly helpful."
                                    </p>
                                    <div class="pic">
                                        <img src="{% static 'images/testimonial-pic-1.jpg' %}" alt="">
                                    </div>
                                    <h3 class="title">KEVIN DOE</h3>
                                    <span class="post">Influencer</span>
                                    <span class="rating-icon">★</span>
                                    <span class="rating-icon">★</span>
                                    <span class="rating-icon">★</span>
                                    <span class="rating-icon">★</span>
                                    <span class="rating-icon">★</span>
                                </div>
             
                                <div class="testimonial">
                                    <p class="description">
                                        "I've rented cars from various companies, but Carent stands out. The cars are in fantastic condition, and their prices are unbeatable. Plus, the pickup and drop-off process couldn't be easier. Highly recommended!"
                                    </p>
                                    <div class="pic">
                                        <img src="{% static 'images/testimonial-pic-2.jpg' %}" alt="">
                                    </div>
                                    <h3 class="title">MELLISA CHRIST</h3>
                                    <span class="post">Business Owner</span>
                                    <span class="rating-icon">★</span>
                                    <span class="rating-icon">★</span>
                                    <span class="rating-icon">★</span>
                                    <span class="rating-icon">★</span>
                                    <span class="rating-icon">★</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.Testimonial-Section -->
    </section><!-- /.Customer-Testimonial -->
</main><!-- /.main-content -->
{% include 'footer/footer.html' %}      