{% load static %}
{% load cart_tag %}
{% include 'header/header.html' %}

<main class="main-content">
    <div class="Booking_Cart">        
        <section class="h-100 h-custom">
            <div class="container-fluid py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                  <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                      <div class="row g-0">
                        <div class="col-lg-8">
                          <div class="p-5">
                            <div class="d-flex justify-content-between align-items-center mb-5">
                              <h2 class="fw-bold mb-0">BOOKING SECTION</h2>        
                              <h6 class="mb-0 text-muted">Bookings</h6>   
                            </div>
                            <div>
                              <a href="{% url 'cart_clear' %}" class="btn btn-block btn-lg Clear_Cart_Button">Clear Bookings</a>  
                            </div>
                            <hr class="my-4">
                            {% for id,car in request.session.cart.items %}
                            <div class="row mb-4 d-flex justify-content-between align-items-center">
                              <div class="col-md-12 col-lg-12 col-xl-4">
                                <img
                                  src="{{car.image}}"
                                  class="img-fluid rounded-3" alt="Cotton T-shirt">
                              </div>
                              <div class="col-md-9 col-lg-4 col-xl-3">
                                <h4 class="">{{car.name}}</h4>
                              </div>
                              <div class="col-md-3 col-lg-2 col-xl-2 d-flex" style="margin: 25px 0;">
                                {% if car.quantity == 1 %}
                                  <a href="{% url 'item_decrement' id %}" class="px-2" style="display: none; margin: 0;"><i  class="fi fi-rs-minus-small" style="font-size: 25px;"></i></a> 
                                  <p class="px-2"  style="margin: 0; font-size: 20px;">{{car.quantity}}</p>
                                  <a href="{% url 'item_increment' id %}" class="px-2" style="margin: 0;"><i  class="fi fi-rs-plus-small" style="font-size: 25px;"></i></a>     
                                {% else %} 
                                <a href="{% url 'item_decrement' id %}" class="px-2" style="margin: 0;"><i  class="fi fi-rs-minus-small" style="font-size: 25px;"></i></a>     
                                <p class="px-2" style="margin: 0; font-size: 20px;">{{car.quantity}}</p>
                                <a href="{% url 'item_increment' id %}" class="px-2" style="margin: 0;"><i  class="fi fi-rs-plus-small" style="font-size: 25px;"></i></a>   
                                {% endif %} 
                              </div>
                              <div class="col-md-3 col-lg-4 col-xl-1 text-center">
                                <h6 class="mb-0 price">$ {{car.price}}</h6>
                              </div>
                              <div class="col-md-1 col-lg-1 col-xl-1 text-center"  style="margin: 50px 0; ">
                                <a href="{% url 'item_clear' id %}" class="text-muted"><i class="fi fi-ss-trash-xmark"></i></a>
                              </div>
                            </div>
                            <hr class="my-4"> 
                            {% endfor %}                   
                            <div class="pt-5">
                              <h6 class="mb-0 back-to-booking"><a href="{% url 'our_cars' %}" class=""><i
                                    class=" me-2"></i>Back to Our Cars</a></h6>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 bg-body-tertiary">
                          <div class="p-5">
                            <h3 class="fw-bold mb-5 mt-2 pt-1 Summary">SUMMARY</h3>
                            <hr class="my-4">         
                            <div class="d-flex justify-content-between mb-4">
                              <h5 class="text-capitalize">Bookings 3</h5>
                              <h5>$ 132.00</h5>
                            </div>      
                            <h5 class="text-uppercase mb-3">Shipping</h5>       
                            <div class="mb-4 pb-2">
                                <p><b>Booking will take 2-3 active days.</b></p>
                            </div>          
                            <h5 class="text-uppercase mb-3">Coupon Code</h5>       
                            <div class="mb-5">
                              <div data-mdb-input-init class="form-outline">
                                <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                                <label class="form-label" for="form3Examplea2">Enter Coupon Coupon</label>
                              </div>
                            </div>         
                            <hr class="my-4">         
                            <div class="d-flex justify-content-between mb-5">
                              <h5 class="text-uppercase">Total price</h5>
                              {% for id,car in request.session.cart.items %}
                              <h5>$ {{ car.price|floatformat:2|multiply:car.quantity }}</h5> 
                              {% endfor %} 
                            </div> 
                              <a href="{% url 'checkout' %}" class="btn btn-block btn-lg BOOK_Button">BOOK</a>  
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    </div><!-- /.Booking_Cart -->
</main><!-- /.main-content -->


{% include 'footer/footer.html' %}  