{% load static %}
{% include 'header/header.html' %}


<main class="main-content">
    <section class="Single-Post-Main-Hero-Section">
        <div class="Single-Post-Hero-Section-image">
            <img class="" src="{% static 'images/Default-Hero-Section-Image.png' %}" alt="">
            <div class="Single-Post-image-overlay"></div>
        </div><!-- /.Hero-Section-image -->
        <div class="Single-Post-Hero-Section-Image-Content">
            <div class="container">
                <div class="Single-Post-Hero-Section-Image-Content-Heading content">
                    <div class="Type-button">
                        <a href=""><h4>Insight</h4></a>
                    </div><!-- /.Type-button -->
                        <h2>SAVING ON WHEELS: HOW TO FIND THE BEST CAR RENTAL</h2>
                </div><!-- /.Hero-Section-Image-Content-Heading -->
                <div class="Single-Post-Hero-Section-Image-Content-Description content">
                    <p></p>
                </div>
            </div><!-- /.container -->
        </div><!-- /.Hero-Section-Image-Content -->       
    </section><!-- /.Main-Hero-Section -->
    <div class="Single-Post-Section">
        <div class="container">
            <div class="Blog-Image">
                <img src="{% static 'images/Our-Latest-Blog-and-Articles-1.jpg' %}" alt="">
            </div><!-- /.Image -->
            <div class="Feature1 Features">
                <h2>The Joy of Renting and Roaming</h2>
            </div><!-- /.Feature1 -->
            <div class="Feature1-paragraphs Feature-Paragraphs">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi sequi id vero laboriosam rerum officiis provident, nulla eos tenetur quia est, iste ratione vitae autem eum delectus ut culpa qui earum temporibus, quod voluptatem quisquam. Libero possimus totam illum iusto vel magnam sapiente maiores tempore quod non excepturi, dignissimos quis iure minima exercitationem quaerat minus accusamus id dolore doloremque magni praesentium quia nostrum? Officia error, fuga nostrum obcaecati aliquid nisi?</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi sequi id vero laboriosam rerum officiis provident, nulla eos tenetur quia est, iste ratione vitae autem eum delectus ut culpa qui earum temporibus, quod voluptatem quisquam. Libero possimus totam illum iusto vel magnam sapiente maiores tempore quod non excepturi, dignissimos quis iure minima exercitationem quaerat minus accusamus id dolore doloremque magni praesentium quia nostrum? Officia error, fuga nostrum obcaecati aliquid nisi?</p>
            </div><!-- /.Feature1-paragraphs -->
            <div class="Feature2 Features">
                <h2>Benefits of Renting a Car</h2>
            </div><!-- /.Feature2 -->
            <div class="Feature2-paragraphs Feature-Paragraphs">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi sequi id vero laboriosam rerum officiis provident, nulla eos tenetur quia est, iste ratione vitae autem eum delectus ut culpa qui earum temporibus, quod voluptatem quisquam. Libero possimus totam illum iusto vel magnam sapiente maiores tempore quod non excepturi, dignissimos quis iure minima exercitationem quaerat minus accusamus id dolore doloremque magni praesentium quia nostrum? Officia error, fuga nostrum obcaecati aliquid nisi?</p>
                <div class="Features-list">
                    <p><span class="material-symbols-outlined Features-list-icons">check</span>Lorem ipsum dolor sit amet consectetur.</p>
                    <p><span class="material-symbols-outlined Features-list-icons">check</span>Lorem ipsum dolor sit amet consectetur.</p>
                    <p><span class="material-symbols-outlined Features-list-icons">check</span>Lorem ipsum dolor sit amet consectetur.</p>
                </div><!-- /.Features-list -->
            </div><!-- /.Feature2-paragraphs -->
            <div class="Blog-Section-Image">
                <img src="{% static 'images/Single-Post-img-2.jpg' %}" alt="">
            </div><!-- /.Blog-Section-Image -->
            <div class="Tips">
                <h3>Tips for a Smooth Journey</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos delectus sapiente voluptatem voluptatibus minus qui quaerat vero sequi soluta. Accusantium quisquam molestias animi asperiores repellendus repudiandae ducimus aut earum facere consequatur inventore nesciunt officiis autem ipsum reprehenderit distinctio, quia dolorem architecto necessitatibus cum repellat ab quis alias sequi? Quae blanditiis tempora officia eius explicabo eum, minima incidunt dicta, illo delectus, voluptas velit perspiciatis tenetur reprehenderit totam? Debitis est in vel?</p>
            </div><!-- /.Tips -->
            <div class="Share-Links">
                <div class="heading Share-Links-content">
                    <p>Share this:</p>
                </div><!-- /.heading -->
                <div class="Links Share-Links-content">
                    <a href="" target="_blank"><i class="fa fa-facebook Share-Links-icons" aria-hidden="true"></i></a>
                    <a href="" target="_blank"><i class="fa fa-twitter Share-Links-icons" aria-hidden="true"></i></a>
                    <a href="" target="_blank"><i class="fa fa-whatsapp Share-Links-icons" aria-hidden="true"></i></a>
                </div><!-- /.Links -->
            </div><!-- /.Share-Links -->
        </div><!-- /.container -->
    </div><!-- /.Single-Post-Section -->
</main><!-- /.main-content -->

{% include 'footer/footer.html' %}

