@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://db.onlinewebfonts.com/c/1b6eebb4270d7d02694b68fb7c5a94d9?family=Axion+RX+14+W01+Regular');
@import url(https://db.onlinewebfonts.com/c/1b6eebb4270d7d02694b68fb7c5a94d9?family=Axion+RX+14+W01+Regular);

*{
  margin: 0;
  padding: 0;
}

.header{
  background-color: black; 
  padding: 20px;
}


header .container-fluid .main-navbar{
  display:flex;  
  align-items: center;
  justify-content: space-between;
}


header .container-fluid .main-navbar .logo img{
  width: 200px;
}




/* Nav Links */
.top-navbar {
  font-size: 15px;
}
.navbar-logo {
  display: inline-block;
  padding: 10px;
}
#nav-check, .nav-chlab {
  display: none;
  cursor: pointer;
}




.navbar-links {
  display: inline-block;
  float: right;
}
.navbar-links > a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  font-family: "Axion RX 14 W01 Regular";
  color: white;
}
.navbar-links > a.left-padding{
  padding-left: 0 !important;
}


.navbar-links > a.right-padding{
  padding-right: 0 !important;
}






.navbar-links > a:hover {
  background-color: #555;
  text-decoration: none;
}
@media(max-width:1050px) {
  .nav-chlab {
    display: inline-block;
    float: right;
    font-size: 28px;
    padding: 0px 10px;
    color: white;
  }
  .nav-chlab:hover, #nav-check:checked ~ .nav-chlab {
    color: #424DFFEB;

  }
  .navbar-links, .navbar-links > a {
    display: block;
    width: 100%;
  }
  .navbar-links {
    position: absolute;
    transition: all 0.4s ease-in;
    overflow-y: hidden;
    background-color: black;
    top: 75px;
    left: 0px;
  }
  #nav-check:not(:checked) ~ .navbar-links {
    height: 0px;
  }
  #nav-check:checked ~ .navbar-links {
    height: calc(100vh - 75px);
    overflow-y: auto;
  }
  .side-navigation {
    display: none;
  }
}




/* Side Navigation */
.content {
  text-align: center;
  margin-top: 120px;
}

.sidebar {
  top: 0;
  right:0;
  min-height: 400px;
  height: 100vh;
  width: 0px;
  background: grey;
  text-align: left;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.font-text{
  font-family: "Axion RX 14 W01 Regular";
}


.copyright-content{
  color: white;
  font-weight: lighter;
}
.Infomation-content i,span{
  color: white;
}


.Social-links{
  display: flex;

}

.Social-links a{
  font-size: 25px;

}

.Social-links .first-link a{
  padding: 0;
  margin-left: 0;

}
.Social-links a{
  padding: 0;
  margin:0 30px;

}





#sideBarText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  padding: 50px;
  background-color: black;
}

.nav-section a {
  transition: 0s;
  opacity: 0;
}

.textFadeIn a {
  opacity: 100;
  transition: 1s;
}

.sidebar ul {
  color: white;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 0;
}

.iconFadeIn ul {
  opacity: 100;
  transition: 1s;
}

.nav-section2 li {
  font-size: 36px;
  margin-right: 12px;
  margin-left: 12px;
  cursor: pointer;
}

.navSlide {
  animation: slide 0.2s linear forwards;
}

.nav-section {
  margin-left:auto;
  width: 500px;
}

@keyframes slide {
  100% {
    width: 100vw;
  }
}

.item {
  color: white;
  font-size: 30px;
  margin-top: 11px;
  margin-bottom: 20px;
}

a {
  color: white;
  text-decoration: none;
  transition: 0.4s;
}

a:hover {
  text-decoration: underline;
  transition: 0.4s;
}

.menu-button {
  cursor: pointer;
  position: relative;
  z-index: 1000;
}

.bar1, .bar2, .bar3 {

  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.3s;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: white;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
  background-color: white;
}

@media(max-width:887px) {
  .side-navigation {
    display: none;
  }

}







/* Footer */



.footer{
  background-color: black;
}

.footer-first-row {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

.branding h1 {
  font-size: 36px;
  color: #3f51b5;
}

.branding p {
  max-width: 300px;
}

.quick-links, .contact-info, .newsletter {
  margin-bottom: 20px;
}

.quick-links h2, .contact-info h2, .newsletter h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.quick-links ul, .contact-info ul {
  list-style: none;
  padding: 0;
}

.quick-links ul li, .contact-info ul li {
  margin-bottom: 5px;
}

.quick-links ul li a, .contact-info ul li a {
  color: #fff;
  text-decoration: none;
}

.quick-links ul li a:hover, .contact-info ul li a:hover {
  text-decoration: underline;
}

.contact-info p {
  margin: 5px 0;
}

.contact-info p a {
  color: #fff;
  text-decoration: none;
}

.contact-info p a:hover {
  text-decoration: underline;
}

.newsletter form {
  display: flex;
}

.newsletter input[type="email"] {
  padding: 10px;
  border: 1px solid #444;
  border-radius: 3px 0 0 3px;
  outline: none;
  width: 200px;
}

.newsletter button {
  padding: 10px 20px;
  border: none;
  background-color: #3f51b5;
  color: #fff;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
}

.newsletter button:hover {
  background-color: #303f9f;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.social-links a {
  margin-right: 10px;
}

.social-links a img {
  width: 24px;
  height: 24px;
}

.legal-links a {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
}

.legal-links a:hover {
  text-decoration: underline;
}

.footer-bottom p {
  margin: 0;
}
